@{
    ViewBag.Title = "Home Page";
}

<h1>INCIDENCIAS UDEC</h1>
<h4>¡Explora, informa y contribuye a mantener nuestra comunidad universitaria segura y en óptimas condiciones!</h4>
<p>En esta plataforma, los miembros de nuestra comunidad universitaria pueden reportar incidentes, 
    problemas de mantenimiento o cualquier situación que requiera atención en nuestras instalaciones. 
    Desde problemas de infraestructura hasta situaciones de seguridad, tu participación es fundamental 
    para garantizar un entorno propicio para el aprendizaje, la investigación y la convivencia.</p>
@Styles.Render("~/Content/Home.css")