body {
    background-image: url('../img/bloque-f-fusa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
}

.card {
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #28a745;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

    .card-header h3 {
        color: #fff;
    }

.card-body {
    padding: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
}

.form-label {
    text-align: left;
}

.form-input {
    text-align: left;
}

.form-control {
    margin-bottom: 20px;
    height: 60px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    color: #333; /* Texto oscuro */
}

.btn-container {
    margin-top: 20px;
    text-align: center;
}

.btn-primary {
    height: 50px;
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

/* Estilos para la tabla */
.table {
    background-color: rgba(242, 242, 242, 0.7); /* Fondo gris transparentoso */
    color: #000; /* Texto negro */
    border-radius: 10px; /* Bordes redondeados */
}

    .table th,
    .table td {
        padding: 10px;
    }
